
/*Settings Generales*/
body {
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}

/*Navbar*/
.navbar {
    position: fixed;
    background: none;
    border: 0;
    border-radius: 0;
    z-index: 2;
    width: 100%;
}
nav .container img{
    width: 1.8rem;
    height: 1.8rem;
}
.nav-link {
    text-decoration: none;
    color: rgba(235, 232, 232, 0.8);
    font-family:'ABeeZee', sans-serif;

}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link:hover{
    color: white;
}

/*Carousel*/


/*Quienes Somos*/
#quienesSomos {
    background-color: black;
}

#quienesSomos p {
    color: #ffffff;
    font-family:'ABeeZee', sans-serif;
}

#quienesSomos h1{
    font-family: 'Asap', sans-serif;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: white;
}
#quienesSomos .icon{
    background-color: #0DCAF0;
}
#quienesSomos i{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
#quienesSomos .titulo{
    margin-bottom: 2rem;
}
#quienesSomos .col-lg-4{
    margin-bottom: 3rem;
}

/*Destacados*/
#destacados .titulo-destacados hr{
    color:white; 
    margin-left: 4rem; 
    margin-right: 4rem;
}
#destacados p,h5{
    font-family: 'Questrial', sans-serif;
    color: white;
}
#destacados h1{
    font-family: 'Asap', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}
#destacados .card img{
    height: 202.7px;

}
#destacados .card-body{
    background-color: #0DCAF0
}


/*Contacto*/
#contacto {
    margin-bottom: 2rem;
}
#contacto .titulo-contacto hr{
    color:white; 
    margin-left: 4rem; 
    margin-right: 4rem;
}
#contacto h1{
    font-family: 'Asap', sans-serif;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: white;
}
#contacto label,button{
    font-family: 'Questrial', sans-serif;
    color: white;
}
#contacto button{
    background-color: #0DCAF0;
   border: 0;
}

/*Footer*/
footer {
    background-color: #0DCAF0;
}
footer span,i{
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 19px;
}


/*Display Mobile*/
@media only screen and (max-width: 800px){
    .navbar{
        position: initial;
        background-color: black;
    }
    .column-mobile{
        display: flex;
        flex-direction: column-reverse;
    }
    #quienesSomos, .display-mobile{
        display: none;
    } 
}